@import '../../assets/scss/utils/colors';

$scheduleDayIndent: 20px;

.schedule {
  &--scheduleList {
    display: flex;
    margin: (-$scheduleDayIndent / 2);
    width: 100%;
    flex-wrap: wrap;
    &_day {
      width: 20%;
      flex: 0 0 auto;
      padding: $scheduleDayIndent / 2;
      box-sizing: border-box;
      display: flex;
      min-width: 250px;
      max-width: 350px;
    }
    &_day-inner {
      background: $white;
      width: 100%;
      padding: $scheduleDayIndent;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
      overflow: hidden;
    }
    &_title {
      padding: $scheduleDayIndent;
      font-weight: normal;
      text-transform: uppercase;
      border-bottom: 1px solid $mediumGreyColor;
      background: $baseColor;
      color: $white;
      margin: -$scheduleDayIndent (-$scheduleDayIndent) 0;
    }
    &_classes {

    }
    &_classes-item {
      margin-top: 20px;
      color: $greyColor;
    }
    &_classes-text {

    }
  }
}