@import "../../assets/scss/utils/sizes";
@import "../../assets/scss/utils/colors";
@import "../../assets/scss/utils/fonts";

.login {
  padding: $pageIndent;
  background: $baseColor;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    padding: $pageIndent;
    background: $white;
    border-radius: 4px;
    max-width: 400px;
    width: 100%;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
  }
  .preloader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: $white;
      opacity: 0.75;
    }
  }
  .languageSelect {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  @media screen and (max-width: $maxMobile) {
    height: auto;
    padding: 0;
    display: block;
    &__box {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      box-sizing: border-box;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: none;
    }
    .dropdown_block {
      left: auto;
      right: -5px;
      transform: none;
      &:before {
        left: auto;
        right: 10px;
        transform: none;
      }
    }
    .loginError {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      margin: 0;
    }
  }
  .loginError {
    background: $lightRedColor;
    color: $errorColor;
    padding: 20px 60px;
    text-align: center;
    margin: -$pageIndent #{-$pageIndent} $pageIndent;
    line-height: 20px;
  }
  &__saved {
    margin: 0 -10px;
    display: flex;
    border: 1px solid $lightGreyColor;
    border-width: 1px 0;
    padding: 10px 0;

    &-user {
      cursor: pointer;
      margin: 0 10px;
      text-align: center;
      width: 60px;
      position: relative;

      &:hover {
        > div {
          color: $btnPrimary;
          filter: grayscale(0);
        }
      }
    }
    &-remove {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      font-size: 12px;
      color: $baseColor !important;

      &:hover {
        color: $errorColor !important;
      }
    }
    &-avatar {
      width: 60px;
      height: 60px;
      background-size: cover;
      border-radius: 100%;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s linear;
      margin-bottom: 10px;
      filter: grayscale(100%);
    }
    &-name {
      font-size: 12px;
      font-family: $RobotoCondensed;
      color: $greyColor;
      transition: color 0.25s linear;
    }
  }
}
