@import "../../assets/scss/utils/sizes";
@import "../../assets/scss/utils/colors";
@import "../../assets/scss/utils/fonts";

.adminInfo {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  &__nav-holder {
    position: absolute;
    left: $widgetIndent;
    top: $widgetIndent;
    bottom: $widgetIndent;
    height: 100%;
    z-index: 1;
  }
  &__nav {
    position: sticky;
    top: 217px;
    font-family: $RobotoCondensed;
    line-height: 1.5;
    width: 100px;
  }
  &__navItem {
    margin: 10px 0;
    &:before {
      content: "•";
      margin-right: 5px;
    }
    > span {
      text-transform: uppercase;
      ul {
        text-transform: none;
        padding-left: 10px;
        border-bottom: 1px solid $mediumGreyColor;
        padding-bottom: 10px;
        counter-reset: section;
        font-size: 14px;
        li {
          margin-top: 10px;
          line-height: 1;
          position: relative;
          padding-left: 15px;
          &:before {
            counter-increment: section;
            content: counter(section) ". ";
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
    &:last-child {
      span {
        ul {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
  &__manual-holder {
    margin-left: 100px;
  }
}
