@import '../../../assets/scss/utils/colors';
@import '../../../assets/scss/utils/fonts';
@import '../../../assets/scss/utils/sizes';

$editorIndent: 20px;
$actionsSize: 100px;
$editorBackground: $lightGreyColor;

.seamlessEditor {
  position: relative;
  &__noContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }
  &__content {
    margin-top: -10px;
  }
  &__toolbar {
    position: sticky;
    top: #{$headerHeight + $sectionTitleHeight};
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5px 10px;
    margin-bottom: 20px;
    background: $white;
    z-index: 1;
    &-btn {
      margin: 0 5px;
    }
  }
  &__textEditor-holder {
    animation: textEditorAnimation .15s linear;
    height: 33.33333%;
    min-height: 300px;
    padding: 0 $pageIndent $pageIndent;
    z-index: 99999;
    position: relative;
  }
  &__textEditor {
    height: 100%;
    padding: $editorIndent;
    background: $white;
    box-sizing: border-box;
    flex: 0 0 auto;
    max-width: 880px;
    margin: 0 auto;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.15);
    position: relative;
    z-index: 1;
    > * {
      height: 100% !important;
    }
  }
  &__textEditor-close {
    position: absolute;
    left: 50%;
    transform: translateX(440px);
    top: 0;
    bottom: $pageIndent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $pageIndent;
    background: $greyColor;
    color: $white;
    font-size: 14px;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.15);
    cursor: pointer;
    transition: background .15s ease-in-out;
    &:hover {
      background: $anchorColor;
    }
    @media screen and (max-width: 1260px) {
      left: auto;
      transform: none;
      right: 0;
    }
  }
  &__preview-holder {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    > *:first-child {
      height: 100% !important;
      > * {
        height: 100% !important;
      }
    }
  }
  &__preview-delete {
    height: #{9 * $actionsSize * 2 / 16};
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $RobotoCondensed;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 12px;
    background: $lightColor;
    color: $greyColor;
    &.isOver {
      background: $lightRedColor;
      color: $errorColor;
    }
    i {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
  &__preview {
    background: $white;
    overflow-x: hidden !important;
    &-list {
      padding: $editorIndent / 2;
    }
    &-item-holder {
      margin-bottom: $editorIndent / 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-item {
      height: #{9 * $actionsSize * 2 / 16};
      overflow: hidden;
      border: 1px solid $mediumGreyColor;
      padding: $editorIndent / 2;
      box-sizing: border-box;
      user-select: none;
      cursor: pointer;
      &:hover {
        border-color: $anchorColor;
      }
    }
    &-item-inner {
      height: 200%;
      width: 200%;
      transform: scale(0.5) translate(-50%, -50%);
    }
    .article {
      height: 100%;
      overflow: hidden;
      > * {
        height: 100%;
        overflow: hidden;
      }
    }
    &-dropArea {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 14px;
      transition: height .15s ease-in-out;
      position: relative;
      z-index: 1;
      margin: -20px 0;
      opacity: 0;
      &.isOver {
        height: #{9 * $actionsSize * 2 / 16 + 50};
        opacity: 1;
      }
    }
  }
  &__editor {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    &-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
      position: relative;
      z-index: 1;
    }
    &-body {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      > *:last-child:not(:nth-child(2)):not(.seamlessEditor__editor-blocks-holder) {
        flex: 0 0 auto;
        width: $actionsSize * 2 !important;
        height: 100% !important;
      }
    }
    &-title {
      z-index: 1;
      height: $actionsSize;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $pageIndent $pageIndent $pageIndent 0;
      box-sizing: border-box;
      &-inner {
        font-family: $RobotoCondensed;
        letter-spacing: .5px;
      }
      span {
        display: block;
        color: $greyColor;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 5px;
      }
      i {
        width: $actionsSize;
        height: $actionsSize;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-right: $pageIndent;
        background: $baseColor;
        color: $white;
        flex: 0 0 auto;
      }
    }
    &-actions {
      text-transform: uppercase;
      font-family: $RobotoCondensed;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: $white;
      height: $actionsSize;
      &-item {
        height: $actionsSize;
        width: $actionsSize;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &-types {
      background: $white;
      display: flex;
      flex-direction: column;
      width: $actionsSize;
      flex: 0 0 auto;
      &-item {
        width: $actionsSize;
        height: $actionsSize;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $white;
      }
    }
    &-type {
      width: $actionsSize;
      flex: 0 0 auto;
      background: $anchorColor;
      display: flex;
      flex-direction: column;
      box-shadow: inset 2px 0 10px 0 rgba(0,0,0,.15);
      animation: typeAnimation .15s linear;
      overflow: hidden;
      &-item {
        width: $actionsSize;
        height: $actionsSize;
        border-bottom: 1px solid $white;
      }
      [class$="-btn"] {
        color: $white;
        position: relative;
        z-index: 1;
        &:hover {
          color: $white;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: $baseColor;
            z-index: -1;
            opacity: .15;
          }
        }
      }
    }
    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: $greyColor;
      transition: color .15s ease-in-out;
      cursor: pointer;
      width: 100%;
      height: 100%;
      user-select: none;
      &:hover {
        color: $baseColor;
      }
      &.btn-error {
        &:hover {
          color: $errorColor;
        }
      }
      &.btn-success {
        &:hover {
          color: $successColor;
        }
      }
      &.active {
        background: $anchorColor;
        color: $white;
      }
      i {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
    &-blocks-holder {
      background: $editorBackground;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      > *:first-child {
        height: 100% !important;
        > * {
          height: 100% !important;
          overflow-x: hidden !important;
        }
      }
    }
    &-blocks-inner {
      padding: $pageIndent;
    }
    &-blocks {
      background: $white;
      max-width: 800px;
      margin: 0 auto;
      padding: $pageIndent;
    }
    &-block-holder {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom:  0;
      }
    }
    &-block {
      min-height: 120px;
      display: flex;
      line-height: 1.5;
      &.isNew {
        font-family: $RobotoCondensed;
        color: $mediumGreyColor;
        text-transform: uppercase;
        letter-spacing: .5px;
        cursor: default;
        user-select: none;
        background: $lightColor;
        [class$="-block-inner"] {
          justify-content: center;
          align-items: center;
          border: none;
        }
        &.isOver {
          background: $lightBlueColor;
          color: $anchorColor;
        }
      }
      &.dropArea {
        min-height: 0;
        height: 40px;
        transition: height .15s ease-in-out;
        [class$="-block-inner"] {
          border: none;
          background: $lightColor;
          justify-content: center;
          align-items: center;
          color: $mediumGreyColor;
        }
        &.isOver {
          height: 120px;
          [class$="-block-inner"] {
            background: $lightBlueColor;
            color: $anchorColor;
          }
        }
        &:first-child {
          margin-bottom: 20px;
        }
        &:last-child {
          margin-top: 20px;
        }
      }
      &-inner {
        border: 1px solid $lightGreyColor;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
      }
      &-actions {
        a {
          color: $baseColor;
          &:hover {
            color: $linkHoverColor;
          }
        }
      }
      .form {
        margin-top: -20px;
      }
    }
  }
}
@keyframes typeAnimation {
  0% {
    width: 0;
  }
  100% {
    width: $actionsSize;
  }
}
@keyframes textEditorAnimation {
  0% {
    height: 0;
    min-height: 0;
  }
  100% {
    height: 33.33333%;
    min-height: 300px;
  }
}
