@import '../../../assets/scss/utils/colors';
@import '../../../assets/scss/utils/fonts';
@import '../../../assets/scss/utils/sizes';

$editorIndent: 20px;
$actionsSize: 100px;
$editorBackground: $lightGreyColor;
$blockMinHeight: 100px;

.seamlessEditor {
  position: relative;
  &__noContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $blockMinHeight;
  }
  &__content {
    margin-top: -10px;
    position: relative;
    .preloader {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: $white;
        opacity: .95;
        z-index: -1;
      }
      svg {
        position: sticky;
        margin-top: 40px;
        top: 300px;
      }
    }
  }
  &__toolbar {
    position: sticky;
    top: #{$headerHeight + $sectionTitleHeight + 5};
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: -65px -5px 40px;
    z-index: 2;
    &-btn {
      margin: 0 5px;
    }
    .btn {
      width: 35px;
      height: 35px;
      font-size: 12px;
    }
  }
  &__textEditor-holder {
    animation: textEditorAnimation .15s linear;
    height: 50%;
    min-height: 300px;
    padding: 0 $pageIndent $pageIndent;
    z-index: 99999;
    position: relative;
    flex: 0 0 auto;
  }
  &__textEditor-box {
    display: flex;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.15);
    height: 100%;
    max-width: 880px;
    margin: 0 auto;
  }
  &__textEditor {
    padding: $editorIndent;
    background: $white;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    > * {
      height: 100% !important;
    }
  }
  &__textEditor-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $pageIndent;
    background: $greyColor;
    color: $white;
    font-size: 14px;
    cursor: pointer;
    transition: background .15s ease-in-out;
    flex: 0 0 auto;
    &:hover {
      background: $anchorColor;
    }
  }
  &__preview-holder {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    > *:first-child {
      height: 100% !important;
      > * {
        height: 100% !important;
      }
    }
  }
  &__preview-delete {
    height: #{9 * $actionsSize * 2 / 16};
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $RobotoCondensed;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 12px;
    background: $lightColor;
    color: $greyColor;
    &.isOver {
      background: $lightRedColor;
      color: $errorColor;
    }
    i {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
  &__preview {
    background: $white;
    overflow-x: hidden !important;
    &-list {
      padding: $editorIndent / 2;
    }
    &-item-holder {
      margin-bottom: $editorIndent / 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
    #react-mathjax-preview,
    #react-mathjax-preview-result {
      height: 100%;
      overflow: hidden;
    }
    &-item {
      height: #{9 * $actionsSize * 2 / 16};
      overflow: hidden;
      border: 1px solid $mediumGreyColor;
      padding: $editorIndent / 2;
      box-sizing: border-box;
      user-select: none;
      cursor: pointer;
      position: relative;
      &:hover {
        border-color: $anchorColor;
        [class$="-placeholder"] {
          color: $anchorColor;
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }
    &-item-inner {
      height: 200%;
      width: 200%;
      transform: scale(0.5) translate(-50%, -50%);
    }
    .article {
      height: 100%;
      overflow: hidden;
      > * {
        height: 100%;
        overflow: hidden;
      }
    }
    &-dropArea {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 14px;
      transition: height .15s ease-in-out;
      position: relative;
      z-index: 1;
      margin: -20px 0;
      opacity: 0;
      &.isOver {
        height: #{9 * $actionsSize * 2 / 16 + 50};
        opacity: 1;
      }
    }
    .type-word,
    .type-powerpoint {
      overflow: hidden;
      height: 100%;
    }
    iframe {
      height: 100% !important;
      overflow: hidden;
    }
    &-placeholder {
      height: 100%;
      background: $lightGreyColor;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 30px;
      font-family: $RobotoCondensed;
      text-transform: uppercase;
      color: $greyColor;
      font-weight: 300;
      letter-spacing: .5px;
      i {
        font-size: 40px;
        margin-bottom: 20px;
      }
    }
  }
  &__editor {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    &-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
      position: relative;
      z-index: 1;
    }
    &-body {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      > *:last-child:not(:nth-child(2)):not(.seamlessEditor__editor-blocks-holder) {
        flex: 0 0 auto;
        width: $actionsSize * 2 !important;
        height: 100% !important;
      }
    }
    &-title {
      z-index: 1;
      height: $actionsSize;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $pageIndent $pageIndent $pageIndent 0;
      box-sizing: border-box;
      &-inner {
        font-family: $RobotoCondensed;
        letter-spacing: .5px;
      }
      span {
        display: block;
        color: $greyColor;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 5px;
      }
      i {
        width: $actionsSize;
        height: $actionsSize;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-right: $pageIndent;
        background: $baseColor;
        color: $white;
        flex: 0 0 auto;
      }
    }
    &-actions {
      text-transform: uppercase;
      font-family: $RobotoCondensed;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: $white;
      height: $actionsSize;
      &-item {
        height: $actionsSize;
        width: $actionsSize;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &-types {
      background: $white;
      display: flex;
      flex-direction: column;
      width: $actionsSize;
      flex: 0 0 auto;
      &-item {
        width: $actionsSize;
        height: $actionsSize;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $white;
      }
    }
    &-type {
      width: $actionsSize;
      flex: 0 0 auto;
      background: $anchorColor;
      display: flex;
      flex-direction: column;
      box-shadow: inset 2px 0 10px 0 rgba(0,0,0,.15);
      animation: typeAnimation .15s linear;
      overflow: hidden;
      &-item {
        width: $actionsSize;
        height: $actionsSize;
        border-bottom: 1px solid $white;
      }
      [class$="-btn"] {
        color: $white;
        position: relative;
        z-index: 1;
        &:hover {
          color: $white;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: $baseColor;
            z-index: -1;
            opacity: .15;
          }
        }
      }
    }
    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: $greyColor;
      transition: color .15s ease-in-out;
      cursor: pointer;
      width: 100%;
      height: 100%;
      user-select: none;
      &:hover {
        color: $baseColor;
      }
      &.btn-error {
        &:hover {
          color: $errorColor;
        }
      }
      &.btn-success {
        &:hover {
          color: $successColor;
        }
      }
      &.active {
        background: $anchorColor;
        color: $white;
      }
      i {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
    &-blocks-holder {
      background: $editorBackground;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      > *:first-child {
        height: 100% !important;
        > * {
          height: 100% !important;
          overflow-x: hidden !important;
        }
      }
    }
    &-blocks-inner {
      padding: $pageIndent;
    }
    &-blocks {
      background: $white;
      max-width: 800px;
      margin: 0 auto;
      padding: $pageIndent;
    }
    &-block-holder {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom:  0;
      }
    }
    &-block {
      min-height: $blockMinHeight;
      display: flex;
      line-height: 1.5;
      position: relative;
      #react-mathjax-preview {
        cursor: pointer;
        position: relative;
        height: 100%;
      }
      img {
        max-width: 100%;
      }
      &-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $RobotoCondensed;
        background: $lightGreyColor;
        color: $mediumGreyColor;
        height: $blockMinHeight - 25;
        user-select: none;
      }
      &-type {
        position: absolute;
        left: 10px;
        top: 0;
        transform: translateY(-50%);
        background: $white;
        padding: 0 5px;
        color: $mediumGreyColor;
        font-family: $RobotoCondensed;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .5px;
        i {
          margin-right: 5px;
        }
      }
      &.isNew {
        font-family: $RobotoCondensed;
        color: $mediumGreyColor;
        text-transform: uppercase;
        letter-spacing: .5px;
        cursor: default;
        user-select: none;
        background: $lightColor;
        [class$="-block-inner"] {
          justify-content: center;
          align-items: center;
          border: none;
        }
        &.isOver {
          background: $lightBlueColor;
          color: $anchorColor;
        }
      }
      &.dropArea {
        min-height: 0;
        height: 40px;
        transition: height .15s ease-in-out;
        [class$="-block-inner"] {
          border: none;
          background: $lightColor;
          justify-content: center;
          align-items: center;
          color: $mediumGreyColor;
        }
        &.isOver {
          height: $blockMinHeight;
          [class$="-block-inner"] {
            background: $lightBlueColor;
            color: $anchorColor;
          }
        }
        &:first-child {
          margin-bottom: 20px;
        }
        &:last-child {
          margin-top: 20px;
        }
      }
      &:hover {
        [class$="-block-inner"] {
          border-color: $anchorColor;
        }
        [class$="-block-type"] {
          color: $anchorColor;
        }
      }
      &-inner {
        border: 1px solid $mediumGreyColor;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        > *:not(.seamlessEditor__editor-block-type) {
          width: 100%;
        }
      }
      &-actions {
        a {
          color: $baseColor;
          &:hover {
            color: $linkHoverColor;
          }
        }
      }
      &-youtube-holder {
        padding-top: 56.25%;
        position: relative;
        iframe {
          vertical-align: top;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
      }
      &-question {
        &-answers {
          border-bottom: 1px solid $lightGreyColor;
          padding-bottom: 10px;
          margin-bottom: 10px;
          .form__row {
            margin-top: 0;
          }
        }
        &-message {
          min-height: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $RobotoCondensed;
          color: $mediumGreyColor;
          text-transform: uppercase;
          margin-top: 20px;
          border: 1px solid transparent;
          &.isProminent {
            color: $baseColor;
            border-color: $mediumGreyColor;
          }
        }
        &-answer {
          display: flex;
          align-items: center;
          margin-top: 20px;
          &-num {
            margin-right: 10px;
            width: 25px;
            font-family: $RobotoCondensed;
            font-weight: bold;
          }
          &-remove {
            color: $redColor;
            &:hover {
              color: $errorColor;
            }
          }
        }
        &-add {
          margin-left: 61px;
          display: block;
          width: 100%;
          text-transform: uppercase;
          font-family: $RobotoCondensed;
          color: $greenColor;
          &:hover {
            color: $successColor;
          }
        }
      }
      &-divider {
        hr {
          height: 1px;
          background: $mediumGreyColor;
          border: none;
          margin: 40px 0;
          opacity: 1;
        }
      }
      &-word-holder,
      &-powerpoint-holder {
        border: 1px solid $mediumGreyColor;
      }
    }
  }
}
@keyframes typeAnimation {
  0% {
    width: 0;
  }
  100% {
    width: $actionsSize;
  }
}
@keyframes textEditorAnimation {
  0% {
    height: 0;
    min-height: 0;
  }
  100% {
    height: 50%;
    min-height: 300px;
  }
}
