@import "../../../assets/scss/utils/colors";
@import "../../../assets/scss/utils/fonts";

$trackerColor: $mediumGreyColor;

.range {
  height: 100%;
  position: relative;

  &__track {
    height: 100%;

    &:after {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      top: 50%;
      height: 1px;
      background: $mediumGreyColor;
      transform: translateY(-50%);
    }
  }

  &__handle {
    width: 20px;
    height: 20px;
    border: 3px solid $greyColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: grab;
    border-radius: 100%;
    box-sizing: border-box;
    outline: none;
  }

  &__marks {
    position: absolute;
    left: 10px;
    right: 10px;
    height: 100%;
    top: 0;
  }

  &__mark {
    position: absolute;
    top: 0;
    height: 100%;
    &.isActive {
      [class$="__tick"] {
        background: $anchorColor;
      }
      [class$="__tick-label"] {
        color: $anchorColor;
      }
    }
  }

  &__tick {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: $mediumGreyColor;
    transform: translate(-50%, -50%);
  }

  &__tick-label {
    position: absolute;
    top: 50%;
    font-size: 12px;
    font-family: $RobotoCondensed;
    color: $trackerColor;
    letter-spacing: 0.5px;
    margin-top: -30px;
    width: 50px;
    text-align: center;
    margin-left: -22px;
  }
}
