@import '../../../assets/scss/utils/colors';
@import '../../../assets/scss/utils/fonts';

.contextmenu {
  position: relative;
  font-family: $RobotoCondensed;
  &.active {
    z-index: 2;
    > a {
      color: $linkHoverColor;
    }
  }
  &__drop {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 5px;
    z-index: 99999;
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    border-radius: 4px;
    font-size: 14px;
    transform: translateX(-10px);
    padding: 5px 0;
    &:before {
      content: '';
      position: absolute;
      left: 10px;
      top: -5px;
      border-bottom: 5px solid $white;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
  &__drop-divider {
    height: 1px;
    background: $lightGreyColor;
    margin: 5px 0;
  }
  &__drop-link {
    color: $baseColor !important;
    padding: 15px 20px 15px 40px;
    display: block;
    white-space: nowrap;
    position: relative;
    i {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      text-align: center;
    }
    &:hover {
      background: $lightColor;
    }
    &:active {
      background: $lightGreyColor;
    }
    &.link-error {
      color: $errorColor !important;
    }
    &.disabled {
      display: none;
    }
  }
}
