@import '../../assets/scss/utils/colors';
@import '../../assets/scss/utils/fonts';

.form {
  width: 100%;
  position: relative;
  &.hasErrors {
    animation: shake .25s ease-in-out;
  }
  &__heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: $RobotoCondensed;
  }
  &__block {
    border: 1px solid $lightGreyColor;
    padding: 0 10px 10px;
    box-sizing: border-box;
    margin: 0 -10px;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
  }
  &__row {
    margin-top: 20px;
  }
  &__field-holder {
    position: relative;
    z-index: 1;
  }
  &__field {
    border: 1px solid $mediumGreyColor;
    background: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 14px;
    line-height: 32px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    font-family: $RobotoCondensed;
    &:focus {
      border-color: $btnPrimary;
      ~ .form__field-placeholder {
        top: 0;
        z-index: 1;
        background: $white;
        padding: 2px;
        margin-left: -2px;
        line-height: 1;
        color: $btnPrimary;
      }
    }
    &.isUpdated {
      border-color: $greenColor;
      ~ .form__field-placeholder {
        color: $greenColor;
      }
    }
    &.hasBtn {
      padding-right: 36px;
    }
    &.hasErrors {
      border-color: $errorColor;
      ~ .form__field-placeholder {
        color: $errorColor;
      }
    }
    &::-webkit-input-placeholder {
      color: $mediumGreyColor;
    }
    &::-moz-placeholder {
      color: $mediumGreyColor;
    }
    &:-ms-input-placeholder {
      color: $mediumGreyColor;
    }
    &:-moz-placeholder {
      color: $mediumGreyColor;
    }
  }
  &__field-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover {
      color: $linkHoverColor;
    }
  }
  &__field-placeholder {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    color: $mediumGreyColor;
    font-family: $RobotoCondensed;
    font-size: 14px;
    line-height: 32px;
    user-select: none;
    transition: all .15s ease-in-out;
    &.isFilled {
      top: 0;
      z-index: 1;
      background: $white;
      padding: 2px;
      margin-left: -2px;
      line-height: 1;
    }
  }
  &__select-holder {
    &.hasErrors {
      .form__field {
        border-color: $errorColor;
      }
      .form__field-placeholder {
        color: $errorColor;
      }
    }
  }
  &__btn-holder {
    text-align: center;
  }
  &__btn {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  &__error {
    background: $errorColor;
    color: $white;
    text-align: center;
    padding: 10px;
  }
  &__loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $white;
      z-index: -1;
      opacity: .75;
    }
  }
}
