.article {
  line-height: 1.5;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  &__block {
    margin-bottom: 20px;
    &.type-text {
      h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
      }
      h2 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 20px;
      }
      h4 {
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 20px;
        br {
          display: none;
        }
      }
      pre {
        margin-bottom: 20px;
      }
      sub {
        font-size: 10px;
        vertical-align: baseline;
      }
      sup {
        font-size: 10px;
        vertical-align: top;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.type-formula {
      position: relative;
      user-select: none;
      .tox-statusbar {
        display: none !important;
      }
      .tox-editor-header {
        display: none !important;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }
  &__image {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &.size-16x9 {
      padding-top: 56.25%;
    }
    &.size-4x3 {
      padding-top: 75%;
    }
    &.size-1x1 {
      padding-top: 100%;
    }
    &.size-3x4 {
      padding-top: 125%;
    }
    &.size-4x6 {
      padding-top: 150%;
    }
    &.size-9x16 {
      padding-top: 177.77%;
    }
  }
  &__image-caption {
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
    color: $greyColor;
    font-style: italic;
  }
  hr {
    border: none;
    border-top: 1px solid $mediumGreyColor;
    margin: 40px 0;
  }
  &__answers-confirm {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  &__preloader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: $white;
      opacity: .75;
    }
  }
  &__audio {
    p {
      margin-bottom: 10px;
      color: $greyColor;
      text-transform: uppercase;
      font-family: $RobotoCondensed;
      letter-spacing: .5px;
    }
    audio {
      width: 100%;
      vertical-align: top;
    }
  }
  .youtube-holder {
    position: relative;
    padding-top: 56.25%;
    > * {
      position: absolute;
      left: 0;
      top: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}