.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 15px 20px;
  border-radius: 25px;
  min-width: 100px;
  text-transform: uppercase;
  font-family: $RobotoCondensed;
  letter-spacing: .5px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  &_primary {
    background: $btnPrimary;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  &__xs {
    padding: 10px 15px;
  }
  &__error {
    background: $errorColor;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  &__success {
    background: $successColor;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  &:hover {
    opacity: .75;
  }
  &[disabled] {
    cursor: not-allowed;
    filter: grayscale(100%);
    opacity: .5;
  }
  &.round {
    min-width: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: $maxMobile) {
    min-width: 80px;
    font-size: 12px;
  }
}