.page {
  padding: ($headerHeight + $pageIndent) $pageIndent $pageIndent ($pageIndent + $navWidth);
  background: $lightColor;
  min-height: calc(100vh - (#{$headerHeight} + #{$pageIndent} * 2));
  &.student {
    padding: calc(#{$studentHeaderHeight} + #{$studentHeaderIndent * 2} + #{$pageIndent}) $pageIndent 0;
    min-height: calc(100vh - calc(#{$studentHeaderHeight} + #{$studentHeaderIndent * 2} + #{$pageIndent}));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (max-width: $maxTablet) {
    &.student {
      padding: 0;
      min-height: 0;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }
    &.navVisible {
      .content {
        margin-left: $studentNavWidth;
      }
      .footer {
        margin-left: $studentNavWidth;
      }
      .studentNav {
        left: 0;
      }
    }
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-self: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $white;
    opacity: .75;
    z-index: -1;
  }
}

.nothingFound {
  text-align: center;
  color: $errorColor;
  font-weight: bold;
  padding: $pageIndent 0;
}

.pageNotFound {
  height: calc(100vh - #{$headerHeight} - #{$pageIndent * 2});
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: -99999px;
  top: -99999px;
  font-size: 24px;
  text-transform: uppercase;
  color: $greyColor;
  font-weight: bold;
  padding-top: $pageIndent;
  box-sizing: border-box;
  font-family: $RobotoCondensed;
}

.section__title-holder {
  ~ .widget {
    margin-top: $sectionTitleHeight !important;
  }
  ~ .grid {
    margin-top: $sectionTitleHeight - 20px !important;
  }
  + .filters {
    ~ .widget {
      margin-top: $sectionTitleHeight + $filtersHeight !important;
    }
    ~ .grid {
      margin-top: $sectionTitleHeight + $filtersHeight !important;
    }
  }
}
.color-warning {
  color: $warningColor;
}

.content {
  max-width: $contentWidth;
  margin: 0 auto #{$pageIndent * 2};
  width: 100%;
  background: $white;
  padding: 40px;
  box-sizing: border-box;
  transform: translateX(calc(#{$studentNavWidth} - #{$pageIndent * 2}));
  &__title-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: -40px -40px 40px;
    background: $baseColor;
    color: $white;
    height: 85px;
    box-sizing: border-box;
    position: relative;
  }
  &__title {
    font-family: $RobotoCondensed;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
  }
  &__title-subtitle {
    color: $greyColor;
    &:after {
      content: '/';
      margin: 0 5px;
    }
  }
  .notification {
    margin-bottom: 40px;
  }
  @media screen and (max-width: $maxTablet) {
    transform: translateX(0);
    max-width: 100%;
    background: inherit;
    transition: margin-left .25s ease-in-out;
    position: relative;
    z-index: 1;
    margin: 0;
    padding-top: calc(#{$studentHeaderHeightMobile} + #{$studentHeaderIndent * 2} + #{$pageIndent});
    flex: 1;
    &__inner {
      background: $white;
      padding: $pageIndent;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: $maxMobile) {
    padding: calc(#{$studentHeaderHeightTiny} + #{$studentHeaderIndent * 2} + #{$pageIndentMobile}) $pageIndentMobile $pageIndentMobile;
    &__title-holder {
      padding: 0 20px;
      margin: -20px -20px 20px;
      height: 60px;
    }
    &__title {
      font-size: 16px;
    }
    &__inner {
      margin-bottom: 0;
      padding: $pageIndentMobile;
    }
  }
}
.laptop-hide {
  opacity: 1;
  visibility: visible;
  @media screen and (min-width: $minLaptop) {
    opacity: 0;
    visibility: hidden;
  }
}
.laptop-show {
  opacity: 0;
  visibility: hidden;
  @media screen and (min-width: $minLaptop) {
    opacity: 1;
    visibility: visible;
  }
}
