.section {
  margin-bottom: $pageIndent;
  &__title {
    text-transform: uppercase;
    margin-bottom: $pageIndent / 2;
    font-family: $RobotoCondensed;
    font-size: 20px;
    font-weight: normal;
  }
  &__actions {
    margin-top: $pageIndent;
    display: flex;
    justify-content: center;
  }
}