$widgetIndent: 20px;

.widget {
  background: $white;
  padding: $widgetIndent;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
  &:not(:first-child) {
    margin-top: $pageIndent;
  }
  &_title {
    color: $white;
    background: $baseColor;
    margin: -$widgetIndent (-$widgetIndent) $widgetIndent;
    padding: $widgetIndent;
  }
  &_icon {
    margin-right: $widgetIndent;
  }
}