$widgetIndent: 20px;

.widget {
  background: $white;
  padding: $widgetIndent;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  &:not(:first-child) {
    margin-top: $pageIndent;
  }
  &__title {
    color: $white;
    background: $baseColor;
    margin: -$widgetIndent (-$widgetIndent) $widgetIndent;
    padding: $widgetIndent;
    border-radius: 4px 4px 0 0;
  }
  &__icon {
    margin-right: $widgetIndent;
  }
}