@import '../../assets/scss/utils/colors';
@import '../../assets/scss/utils/fonts';

.languageSelect {
  &_item {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  &_link {
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      color: $linkHoverColor;
    }
  }
  &_icon {
    width: 30px;
    flex: 0 0 auto;
    margin-right: 5px;
  }
  &_text {
    font-size: 14px;
    text-transform: uppercase;
    font-family: $RobotoCondensed;
    letter-spacing: .5px;
  }
}