@import "../../assets/scss/utils/sizes";
@import "../../assets/scss/utils/colors";
@import "../../assets/scss/utils/fonts";

$courseItemIndent: $pageIndent / 2;

%s-content-link {
  position: relative;
  padding-left: 28px;
  font-family: $RobotoCondensed;
  .content_title-icon {
    position: absolute;
    left: 0;
    top: 1px;
  }
}

.adminCourses {
  &__list {
    padding-top: $courseItemIndent;

    > .adminCourses__list-item {
      &:nth-child(2n) {
        background: $lightColor;
      }
      > .contextmenu {
        > .adminCourses__list-link {
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          &:hover {
            background: $anchorColor;
            color: $white;
          }

          > span {
            display: flex;
            justify-content: center;
            align-items: center;

            > i {
              position: static;
            }
          }
        }
      }

      &.isOpen {
        > .contextmenu {
          > .adminCourses__list-link {
            background: $anchorColor;
            color: $white;
          }
        }
      }
    }
  }
  &__list-item {
    .contextmenu {
      z-index: 1;
      &.active {
        z-index: 2;
      }
    }
    &.someOpen {
      a {
        color: $mediumGreyColor;
      }
    }
    &.isOpen {
      > [class$="__list-link"] {
        color: $linkHoverColor;
      }
      > [class$="__list-courses-link"] {
        color: $linkHoverColor;
      }
      > * > [class$="__list-link"] {
        color: $linkHoverColor;
      }
      > * > [class$="__list-courses-link"] {
        color: $linkHoverColor;
      }
    }
    i.isOpen {
      transform: rotate(-15deg);
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &__list-item-teacher {
    padding-left: 28px;
    margin-top: 10px;
    font-family: $RobotoCondensed;
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__list-item-teacher-name {
    display: flex;
  }
  &__list-item-teacher-role {
    color: $greyColor;
    &:after {
      content: "/";
      margin: 0 5px;
    }
  }
  &__list-item-textbook {
    padding-left: 28px;
    margin-top: 10px;
    font-family: $RobotoCondensed;
    display: flex;
  }
  &__list-item-textbook-label {
    color: $greyColor;
    &:after {
      content: "/";
      margin: 0 5px;
    }
  }
  &__list-item-textbooks {
    display: flex;
    flex-direction: column;
  }
  &__list-item-textbook-name {
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__list-link {
    color: $baseColor;
    text-transform: uppercase;
    @extend %s-content-link;
  }
  &__list-courses {
    padding: $courseItemIndent / 2 0 5px 28px;
    position: relative;
    width: 100%;
    .preloader {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding: inherit;
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: $white;
        opacity: 0.95;
      }
      svg {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__list-courses-link {
    font-family: $RobotoCondensed;
    color: $baseColor;
    position: relative;
    padding-left: 28px;
    .content_title-icon {
      position: absolute;
      left: 0;
      top: 1px;
    }
    &.isReordered {
      cursor: grab;
    }
  }
  &__add-holder {
    margin-top: 10px;
  }
  &__add {
    display: inline-block;
    vertical-align: top;
    @extend %s-content-link;
    .content_title-icon {
      top: 0;
    }
  }
  &__list-item-nothingFound {
    color: $greyColor;
    margin: 10px 0 0 28px;
    @extend %s-content-link;
    .content_title-icon {
      top: 0;
    }
  }
  .editSorting {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $mediumGreyColor;
    font-family: $RobotoCondensed;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    color: $anchorColor;
    &:hover {
      color: $linkHoverColor;
    }
  }
}
