@import '../../../assets/scss/utils/colors';
@import '../../../assets/scss/utils/fonts';

.tagsList {
  display: flex;
  align-items: center;
  margin: -5px;
  &__item {
    margin: 5px;
    font-family: $RobotoCondensed;
    cursor: pointer;
    user-select: none;
    position: relative;
    color: $greyColor;
    &:hover {
      color: $btnPrimary;
    }
  }
}
.selectedTags {
  margin-bottom: 10px;
  &__heading {
    margin-right: 10px;
    margin-left: 5px;
  }
  &__item {
    &:hover {
      color: $errorColor;
    }
  }
}
