@import '../../assets/scss/utils/colors';

.adminUsersList {
  position: relative;
  .table {
    &__body-cell {
      min-height: 64px;
      box-sizing: border-box;
    }
    &__holder {
      ~ .preloader {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          background: $white;
          opacity: .75;
        }
      }
    }
  }
}