$baseColor: #333;
$linkColor: #333;
$linkHoverColor: #ea5330;
$white: #fff;
$lightColor: #fafafa;
$greyColor: #999;
$lightGreyColor: #f2f2f2;
$greenColor: #a1d042;
$btnPrimary: #4ec1e2;
$anchorColor: #4ec1e2;