@import '../../assets/scss/utils/colors';
@import '../../assets/scss/utils/fonts';

%-s-message {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.chatroom {
  &__error {
    color: $errorColor;
    @extend %-s-message;
  }
  &__info {
    @extend %-s-message;
  }
  &__users {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -20px -20px 20px;
    background: $baseColor;
    padding-bottom: 20px;
    color: $white;
    border-radius: 4px 4px 0 0;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 20px 0;
      width: 100px;
      text-align: center;
      line-height: 1.25;
      &.activeUser {
        color: $greenColor;
        [class$="-item-avatar-holder"] {
          background: $greenColor;
        }
      }
      &.inactiveUser {
        opacity: .5;
      }
      &.organizer {
        opacity: 1;
      }
    }
    &-item-avatar-holder {
      position: relative;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      border-radius: 100%;
      overflow: hidden;
      margin-bottom: 10px;
    }
    &-item-avatar {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: 50% 50%;
    }
    &-item-avatar-placeholder {
      color: $baseColor;
    }
    &-item-name {
      font-family: $RobotoCondensed;
      letter-spacing: .25px;
    }
  }
  &__btnsHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    .btn {
      cursor: pointer;
      font-size: 20px;
      margin: 0 10px;
    }
  }
  &__chatHolder {
    margin: 0 auto;
    &.fullscreen {
      max-width: 100%;
      height: 100%;
      [class$="__chatContainer"] {
        padding-top: 0;
        height: 100%;
        iframe {
          position: static;
          height: 100%;
        }
      }
      [class$="__btnsHolder"] {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  &__chatContainer {
    position: relative;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}
.admin {
  .chatroom {
    &__chatHolder:not(.fullscreen) {
      max-width: 800px;
    }
  }
}