@import "../../../assets/scss/utils/fonts";
@import "../../../assets/scss/utils/colors";

.breadcrumbs {
  display: flex;
  &__item {
    text-transform: uppercase;
    font-family: $RobotoCondensed;
    &:before {
      content: "/";
      margin: 0 10px;
      opacity: 0.5;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
  &__noLink {
  }
  &__link {
  }
  &__modifier {
    color: $greyColor;
  }
}
