@import '../../assets/scss/utils/colors';
@import '../../assets/scss/utils/fonts';

.adminAttendance {
  .filters__selectClass {
    width: 150px;
  }
  .table {
    border: 1px solid $mediumGreyColor;
    &__body-row:not(:hover) {
      background: $white;
    }
    &__body-cell {
      border: 1px solid $mediumGreyColor;
      vertical-align: top;
    }
  }
  &__classRow {
    background: $greyColor !important;
    color: $white;
    [class$="__body-cell"] {
      border: none;
    }
  }
  &__user {
    font-family: $RobotoCondensed;
  }
  &__day {
    text-align: center;
    line-height: 20px;
    text-transform: none;
    strong {
      text-align: right;
      display: inline-block;
      vertical-align: top;
      font-weight: 300;
    }
    span {
      color: $mediumGreyColor;
    }
    &.isWeekend {
      opacity: .5;
    }
  }
  &__check {
    text-align: center;
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
    &.isWeekend {
      opacity: .25;
    }
    &-inner {
      display: flex;
      align-items: center;
      color: $greyColor;
      &:hover {
        color: $baseColor;
      }
      &.isChecked {
        color: $successColor;
        &:hover {
          opacity: .75;
        }
      }
    }
    &-icon {
      font-size: 20px;
    }
    &-title {
      word-break: break-word;
      text-align: left;
      font-family: $RobotoCondensed;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: .5px;
    }
  }
}