@import "../../assets/scss/utils/colors";
@import "../../assets/scss/utils/fonts";
@import "../../assets/scss/utils/sizes";

.adminAttendance {
  .filters__selectClass {
    width: 150px;
  }
  .filters__showOnlyMy {
    width: 250px;
  }
  .table {
    border: 1px solid $mediumGreyColor;
    &__holder {
      .preloader {
        &__inner {
          position: fixed;
          bottom: $pageIndent;
        }
        &:before {
          background: $baseColor;
        }
      }
    }
    &__body-row:not(:hover) {
      background: $white;
    }
    &__body-cell {
      border: 1px solid $mediumGreyColor;
      vertical-align: top;
      &:first-child {
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  &__classRow {
    background: $greyColor !important;
    color: $white;
    [class$="__body-cell"] {
      border: none;
    }
  }
  &__user {
    font-family: $RobotoCondensed;
    font-weight: 600;
    font-size: 18px;
  }
  &__day {
    text-align: center;
    line-height: 20px;
    text-transform: none;
    strong {
      text-align: right;
      display: inline-block;
      vertical-align: top;
      font-weight: 300;
    }
    span {
      color: $mediumGreyColor;
    }
    &.isWeekend {
      opacity: 0.5;
    }
    &.isToday {
      background: $successColor;
      margin: -10px;
      padding: 10px;
      .today {
        font-size: 12px;
        font-style: normal;
        text-transform: lowercase;
      }
    }
  }
  tbody {
    tr {
      &:hover:not(.adminAttendance__classRow) {
        background: white !important;
      }
    }
  }
  &__check {
    display: flex;
    text-align: center;
    width: calc(100% + 20px);
    flex-wrap: wrap;
    padding: 10px 10px 10px 8px;
    margin: 0 -10px;
    box-sizing: border-box;
    border-left: 2px solid $white;
    &:nth-child(2n) {
      background: $lightColor;
      border-color: $lightColor;
    }
    &:first-child {
      margin-top: -10px;
    }
    &:last-child {
      margin-bottom: -10px;
    }
    &.isWeekend {
      opacity: 0.25;
    }
    &.isChecked {
      border-color: $successColor;
      [class$="-inner"] {
        color: $successColor;
        &:hover {
          opacity: 0.75;
        }
      }
      [class$="-title"] {
        color: $successColor;
      }
    }
    &-inner {
      display: flex;
      align-items: center;
      color: $greyColor;
      width: calc(100% - 60px);
      flex: 0 0 auto;
      cursor: pointer;
      &:hover {
        color: $baseColor;
      }
    }
    &-icon {
      font-size: 20px;
    }
    &-time {
      width: 100%;
      text-align: left;
      font-family: $RobotoCondensed;
      margin-bottom: 10px;
      color: $greyColor;
      font-size: 12px;
    }
    &-title {
      text-align: left;
      font-family: $RobotoCondensed;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      padding-right: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px;
    }
    &-label {
      font-family: $RobotoCondensed;
      font-size: 14px;
    }
  }
  &__mark-input {
    width: auto;
    input {
      width: 60px;
      padding-right: 0;
      font-weight: 600;
      color: $successColor;
      font-size: 16px;
      &::-webkit-input-placeholder {
        font-weight: 300;
      }
    }
    &.isFilled {
      input {
        border-color: $successColor;
      }
    }
  }
}
