@import "../../assets/scss/utils/colors";
@import "../../assets/scss/utils/fonts";

$timeSlotWidth: 50px;
$timeSlotHeight: 100px;
$lessonIndent: 10px;

.journal {
  position: relative;
  min-width: 900px;

  &-holder {
    overflow-x: auto;
  }

  &__prev {
    position: absolute;
    left: 15px;
    top: 28px;
    color: $white;
    cursor: pointer;
    z-index: 1;

    &:hover {
      color: $orangeColor;
    }
  }

  &__next {
    position: absolute;
    right: 15px;
    top: 28px;
    color: $white;
    cursor: pointer;
    z-index: 1;

    &:hover {
      color: $orangeColor;
    }
  }

  &__days {
    display: flex;
    justify-content: space-evenly;
    background: $linkColor;
  }

  &__day {
    width: 100%;
    font-family: $RobotoCondensed;
    font-weight: 300;
    padding: 10px;
    box-sizing: border-box;
    color: $white;

    &.isHoliday {
      opacity: 0.25;
    }

    &.first {
      width: $timeSlotWidth;
      flex: 0 0 auto;
    }

    &.active {
      color: $greenColor;
    }

    &-date {
      font-size: 14px;
      text-transform: uppercase;
      display: block;
      margin-top: 5px;

      strong {
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  &__schedule {
    font-size: 12px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;
    margin: -30px 0;

    &:before {
      content: "";
      position: absolute;
      left: $timeSlotWidth;
      top: 50px;
      right: 0;
      bottom: 50px;
      background: $lightColor;
    }
  }

  &__currentTime-holder {
    position: absolute;
    top: $timeSlotHeight / 2;
    bottom: $timeSlotHeight / 2;
    left: 0;
  }

  &__currentTime {
    border-top: 4px dotted $purpleColor;
    position: absolute;
    left: ($timeSlotWidth - 9.5px);
    right: -9999px;
    margin-top: -2px;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -2.5px;
      background: $purpleColor;
      height: 1px;
      opacity: 0.25;
    }
  }

  &__timeSlot-holder {
    width: $timeSlotWidth;
    flex: 0 0 auto;
  }

  &__timeSlot {
    height: $timeSlotHeight;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      left: 35px;
      right: -9999px;
      top: ($timeSlotHeight / 2 - 1px);
      height: 1px;
      background: $mediumGreyColor;
      z-index: -1;
    }

    &:after {
      content: "";
      position: absolute;
      left: 35px;
      right: -9999px;
      top: 100%;
      height: 1px;
      border-top: 1px dotted $mediumGreyColor;
      z-index: -1;
      margin-top: -0.5px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__lessons {
    width: 100%;
    border-left: 1px solid $mediumGreyColor;
    position: relative;
    margin: ($timeSlotHeight / 2) 0;
    font-family: $RobotoCondensed;

    &.isToday {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: $lightGreenColor;
        opacity: 0.25;
      }
    }

    &-item {
      position: absolute;
      width: 100%;
      z-index: 1;
      padding: ($lessonIndent - 5px) $lessonIndent $lessonIndent;
      box-sizing: border-box;
      border-top: 5px solid $mediumGreyColor;

      &.attended {
        border-color: $greenColor;
      }

      &.skipped {
        border-color: $redColor;
      }

      &.isCurrent {
        border-color: $purpleColor;

        &:before {
          background: $lightBlueColor;
        }
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: $lightGreyColor;
        opacity: 0.85;
      }

      &:hover {
        transform: scale(1.1);
        z-index: 2;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        height: auto !important;
        padding-bottom: 40px;
        width: 150%;

        &:before {
          opacity: 1;
        }

        .journal__lessons-teacher {
          display: block;
        }

        .journal__lessons-name {
          span {
            display: block;
          }
        }
      }
    }

    &-teacher {
      margin-top: 10px;
      display: none;
    }

    &-name {
      font-size: 14px;
      margin-top: 5px;

      strong {
        display: block;

        i {
          margin-right: 5px;
          font-size: 12px;
        }

        b {
          color: $baseColor;
        }
      }

      span {
        margin-top: 5px;
        font-size: 12px;
        display: none;
      }
    }

    &-mark {
      color: $successColor;
      position: absolute;
      right: $lessonIndent;
      top: 5px;

      strong {
        border-bottom: 1px solid $successColor;
      }
    }

    &-skipped {
      color: $errorColor;
      position: absolute;
      right: $lessonIndent;
      top: 5px;
    }
  }
}
