@import '../../../assets/scss/utils/colors';
@import '../../../assets/scss/utils/fonts';

.contentEditor {
  &__heading {
    text-align: right;
    font-family: $RobotoCondensed;
    color: $greyColor;
  }
  &__noContent {
    text-align: center;
    color: $mediumGreyColor;
    padding: 20px;
  }
  &__add-holder {
    padding-top: 20px;
  }
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: $lightColor;
    color: $mediumGreyColor;
    i {
      transform: rotate(0);
      transition: transform .15s ease-in-out;
    }
    &:hover {
      background: $lightBlueColor;
      color: $anchorColor;
      i {
        transform: rotate(180deg);
      }
    }
  }
  &__actions-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-family: $RobotoCondensed;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  &__actions-link {
    margin: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $baseColor;
    font-family: $RobotoCondensed;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .5px;
    i {
      font-size: 20px;
      margin-bottom: 10px;
      transform: translateY(0) scale(1) translateZ(0);
      transition: transform .15s ease-in-out;
    }
    &:hover {
      i {
        transform: translateY(-5px) scale(1.1);
      }
    }
  }
  &__blocks {
    position: relative;
    overflow: hidden;
    > * {
      margin-top: 20px;
      position: relative;
      padding-left: 30px;
    }
  }
  &__block {
    &-settings-holder {
      position: absolute;
      left: 30px;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    &-settings {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      &-title {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        &:not(:first-child) {
          margin-top: 40px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: $white;
        opacity: .75;
        z-index: -1;
      }
      &-btn {
        font-weight: bold;
        margin: 0 20px;
        color: $baseColor;
        border: 2px solid $baseColor;
        padding: 10px;
        &:hover,
        &.active {
          color: $linkHoverColor;
          border-color: $linkHoverColor;
        }
      }
    }
    &-actions {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      > * {
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
      a {
        color: $baseColor;
      }
      &-sort {
        cursor: move;
      }
      &-settings {
        &:hover,
        &.active {
          color: $anchorColor;
        }
      }
      &-remove {
        &:hover {
          color: $errorColor;
        }
      }
    }
    &-text {
    }
    &-media {
      &.size-16x9 {
        .form__file-trigger {
          padding-top: 56.25%;
        }
        [class$="-settings-holder"] {
          padding-top: calc(56.25% - 16px);
          height: 0;
        }
      }
      &.size-4x3 {
        .form__file-trigger {
          padding-top: 75%;
        }
        [class$="-settings-holder"] {
          padding-top: calc(75% - 21px);
          height: 0;
        }
      }
      &.size-1x1 {
        .form__file-trigger {
          padding-top: 100%;
        }
        [class$="-settings-holder"] {
          padding-top: calc(100% - 29px);
          height: 0;
        }
      }
    }
    //&-grid {
    //  display: flex;
    //  &-item {
    //    margin-left: 20px;
    //    width: 100%;
    //    margin-top: -20px;
    //    &:first-child {
    //      margin-left: 0;
    //    }
    //  }
    //  &.size-16x9 {
    //    .form__file-trigger {
    //      padding-top: 56.25%;
    //    }
    //  }
    //  &.size-4x3 {
    //    .form__file-trigger {
    //      padding-top: 75%;
    //    }
    //  }
    //  &.size-1x1 {
    //    .form__file-trigger {
    //      padding-top: 100%;
    //    }
    //  }
    //}
    &-question {
      &-answers {
        border-bottom: 1px solid $lightGreyColor;
        padding-bottom: 10px;
        margin-bottom: 10px;
        .form__row {
          margin-top: 0;
        }
      }
      &-answer {
        display: flex;
        align-items: center;
        margin-top: 20px;
        &-num {
          margin-right: 10px;
          width: 25px;
          font-family: $RobotoCondensed;
          font-weight: bold;
        }
        &-remove {
          color: $redColor;
          &:hover {
            color: $errorColor;
          }
        }
      }
      &-add {
        margin-left: 61px;
        display: block;
        width: 100%;
        text-transform: uppercase;
        font-family: $RobotoCondensed;
        color: $greenColor;
        &:hover {
          color: $successColor;
        }
      }
    }
    &-divider {
      hr {
        height: 1px;
        background: $mediumGreyColor;
        border: none;
        margin: 40px 0;
      }
      [class$="-actions"] {
        padding: 0;
        transform: translateY(-50%);
      }
    }
    &-page {
      hr {
        height: 2px;
        background: $baseColor;
        border: none;
        margin: 40px 0;
      }
      [class$="-actions"] {
        padding: 0;
        transform: translateY(-50%);
      }
    }
  }
  .preloader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: '';
      background: $white;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: .75;
    }
  }
  .modal__box {
    max-width: 550px;
  }
}