@import '../../../assets/scss/utils/colors';
@import '../../../assets/scss/utils/fonts';
@import '../../../assets/scss/utils/sizes';

.contentEditor {
  &__heading {
    text-align: right;
    font-family: $RobotoCondensed;
    color: $greyColor;
  }
  &__noContent {
    text-align: center;
    color: $mediumGreyColor;
    padding: 20px;
  }
  &__add-holder {
    padding-top: 20px;
  }
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: $lightColor;
    color: $mediumGreyColor;
    i {
      transform: rotate(0);
      transition: transform .15s ease-in-out;
    }
    &:hover {
      background: $lightBlueColor;
      color: $anchorColor;
      i {
        transform: rotate(180deg);
      }
    }
  }
  &__actions-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-family: $RobotoCondensed;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
  }
  &__actions-row {
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid $mediumGreyColor;
    padding-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  &__actions-link {
    margin: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $baseColor;
    font-family: $RobotoCondensed;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .5px;
    width: 70px;
    i {
      font-size: 20px;
      margin-bottom: 10px;
      transform: translateY(0) scale(1) translateZ(0);
      transition: transform .15s ease-in-out;
    }
    &:hover {
      i {
        transform: translateY(-5px) scale(1.1);
      }
    }
  }
  &__blocks {
    position: relative;
    overflow: hidden;
    > * {
      margin-top: 20px;
      position: relative;
      padding: 10px 10px 10px 40px;
      border: 1px solid $lightGreyColor;
      transition: border .15s ease-in-out;
      &:hover {
        border-color: $anchorColor;
      }
    }
  }
  &__block {
    &-settings-holder {
      position: absolute;
      left: 40px;
      top: 10px;
      right: 10px;
      bottom: 10px;
      z-index: 1;
      border: 1px solid $mediumGreyColor;
    }
    &-settings {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      &-title {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        &:not(:first-child) {
          margin-top: 40px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: $white;
        opacity: .75;
        z-index: -1;
      }
      &-btn-holder {
        margin: 0 20px 20px;
        width: 60px;
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 14px;
      }
      &-btn {
        font-weight: bold;
        color: $baseColor;
        border: 2px solid $baseColor;
        background: $white;
        width: 100%;
        display: block;
        box-sizing: border-box;
        position: relative;
        span {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:hover,
        &.active {
          color: $linkHoverColor;
          border-color: $linkHoverColor;
        }
        &.size-16x9 {
          padding-top: 56.25%;
        }
        &.size-4x3 {
          padding-top: 75%;
        }
        &.size-1x1 {
          padding-top: 100%;
        }
        &.size-3x4 {
          padding-top: 125%;
        }
        &.size-4x6 {
          padding-top: 150%;
        }
        &.size-9x16 {
          padding-top: 177.77%;
        }
      }
    }
    &-actions {
      position: absolute;
      left: 10px;
      top: 0;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      > * {
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
      .modal {
        margin-top: 0;
      }
      a {
        color: $baseColor;
      }
      &-sort {
        cursor: move;
      }
      &-settings {
        &:hover,
        &.active {
          color: $anchorColor;
        }
      }
      &-info {
        &:hover {
          color: $anchorColor;
        }
      }
      &-remove {
        &:hover {
          color: $errorColor;
        }
      }
    }
    &-text {
    }
    &-media {
      .form__row:first-child {
        margin-top: 0;
      }
      &.size-16x9 {
        .form__file-trigger {
          padding-top: 56.25%;
        }
        [class$="-settings-holder"] {
          padding-top: calc(56.25% - 28px);
          height: 0;
        }
      }
      &.size-4x3 {
        .form__file-trigger {
          padding-top: 75%;
        }
        [class$="-settings-holder"] {
          padding-top: calc(75% - 38px);
          height: 0;
        }
      }
      &.size-1x1 {
        .form__file-trigger {
          padding-top: 100%;
        }
        [class$="-settings-holder"] {
          padding-top: calc(100% - 50px);
          height: 0;
        }
      }
      &.size-3x4 {
        .form__file-trigger {
          padding-top: 125%;
        }
        [class$="-settings-holder"] {
          padding-top: calc(125% - 62px);
          height: 0;
        }
      }
      &.size-4x6 {
        .form__file-trigger {
          padding-top: 150%;
        }
        [class$="-settings-holder"] {
          padding-top: calc(150% - 75px);
          height: 0;
        }
      }
      &.size-9x16 {
        .form__file-trigger {
          padding-top: 177.77%;
        }
        [class$="-settings-holder"] {
          padding-top: calc(177.77% - 89px);
          height: 0;
        }
      }
    }
    &-youtube {
      iframe {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    //&-grid {
    //  display: flex;
    //  &-item {
    //    margin-left: 20px;
    //    width: 100%;
    //    margin-top: -20px;
    //    &:first-child {
    //      margin-left: 0;
    //    }
    //  }
    //  &.size-16x9 {
    //    .form__file-trigger {
    //      padding-top: 56.25%;
    //    }
    //  }
    //  &.size-4x3 {
    //    .form__file-trigger {
    //      padding-top: 75%;
    //    }
    //  }
    //  &.size-1x1 {
    //    .form__file-trigger {
    //      padding-top: 100%;
    //    }
    //  }
    //}
    &-question {
      &-answers {
        border-bottom: 1px solid $lightGreyColor;
        padding-bottom: 10px;
        margin-bottom: 10px;
        .form__row {
          margin-top: 0;
        }
      }
      &-answer {
        display: flex;
        align-items: center;
        margin-top: 20px;
        &-num {
          margin-right: 10px;
          width: 25px;
          font-family: $RobotoCondensed;
          font-weight: bold;
        }
        &-remove {
          color: $redColor;
          &:hover {
            color: $errorColor;
          }
        }
      }
      &-add {
        margin-left: 61px;
        display: block;
        width: 100%;
        text-transform: uppercase;
        font-family: $RobotoCondensed;
        color: $greenColor;
        &:hover {
          color: $successColor;
        }
      }
    }
    &-divider {
      hr {
        height: 1px;
        background: $mediumGreyColor;
        border: none;
        margin: 40px 0;
      }
      [class$="-actions"] {
        padding: 0;
        transform: translateY(-50%);
      }
    }
    &-page {
      hr {
        height: 2px;
        background: $baseColor;
        border: none;
        margin: 40px 0;
      }
      [class$="-actions"] {
        padding: 0;
        transform: translateY(-50%);
      }
    }
    &-word {
      &-holder {
        border: 1px solid $mediumGreyColor;
      }
    }
  }
  &__block-placeholder {
    text-align: center;
    color: $mediumGreyColor;
  }
  .preloader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: '';
      background: $white;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: .75;
    }
  }
  .modal__box {
    max-width: 550px;
  }
  audio {
    width: 100%;
  }
  iframe {
    vertical-align: top;
    display: block;
  }
  &__instructions-modal {
    .modal__box {
      max-width: 800px;
    }
  }
  &__instructions {
    line-height: 1.25;
    text-align: justify;
    * {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-image {
      text-align: center;
      margin-bottom: 20px;
      border: 1px solid $mediumGreyColor;
      padding: 10px;
    }
    img {
      vertical-align: top;
      max-width: 100%;
    }
  }
}