@import '../../assets/scss/utils/colors';

.map {
  padding-top: 56.25%;
  position: relative;
  margin-top: 20px;
  &__inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &__marker {
    font-size: 30px;
    color: $linkHoverColor;
  }
  .preloader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}