@import '../../assets/scss/utils/colors';
@import '../../assets/scss/utils/sizes';
@import '../../assets/scss/utils/fonts';

$navIndent: 20px;

.main--nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $navWidth;
  background: $white;
  font-family: $RobotoCondensed;
  text-transform: uppercase;
  letter-spacing: .5px;
  &_list {
    padding: $navIndent;
  }
  &_logo-item {
    margin: -$navIndent (-$navIndent) 0;
    padding: $pageIndent $navIndent ($pageIndent / 2);
  }
  &_logo {
    max-width: 100%;
  }
  &_item {
    margin: $navIndent 0;
  }
  &_link {
    color: $linkColor;
    &.active {
      color: $linkHoverColor;
    }
  }
  &_icon {
    margin-right: 10px;
    width: 20px;
    text-align: center;
  }
  + .pageNotFound {
    position: static;
    opacity: 1;
    visibility: visible;
  }
}
