@import "../../assets/scss/utils/colors";

.adminTranslations {
  &__list {
    .form {
      &__row {
        margin: 0;
      }
      &__field {
        background: $white;
      }
    }
  }
  .table__holder {
    position: relative;
    .preloader {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 99999;
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        content: "";
        background: $white;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.75;
        z-index: -1;
      }
    }
  }
}
